main {
  margin-bottom: 0;

  @include breakpoint("small") {
    height: 100%;
  }
}

.article-grid {
  @include breakpoint("small") {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    height: 100%;
  }
}

.article-grid__fig {
  display: grid;

  @include breakpoint("small") {
    height: 0;
    position: sticky;
    top: 0;
  }

  > * {
    position: relative;

    @include breakpoint("small") {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
  }

  img {
    height: 30vh;
    object-fit: cover;

    @include breakpoint("small") {
      height: 100vh;
    }
  }
}

.article-grid__fig--landing {
  grid-template-columns: repeat(3, 1fr);

  @include breakpoint("small") {
    grid-template-columns: auto;
  }
}

.article-grid__progress {
  align-items: center;
  align-self: center;
  background-color: $color-white;
  display: grid;
  grid-gap: get-spacing("large");
  margin: -(get-spacing("x-large")) auto 0 auto;
  max-width: 30rem;
  min-height: 50%;
  padding: get-spacing("base");
  text-align: center;
  width: 90%;

  @include breakpoint("small") {
    margin: 0 auto;
  }
}

.article-grid__content {
  display: grid;
  grid-gap: get-spacing("base");
  margin: 0 auto;
  padding: get-spacing("medium") get-spacing("base");
  width: 100%;

  @include breakpoint("small") {
    align-items: start;
  }
}

.article-grid__hed {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  text-align: center;

  .article-hed__icon {
    grid-column: 3;
    justify-self: end;
  }

  .overline {
    grid-column: 2;

    &:only-child {
      justify-self: center;
    }
  }
}

.article-grid__section {
  display: grid;
  grid-gap: get-spacing("base");
  justify-self: center;
  max-width: 30rem;
}

.article-grid__intro {
  margin-bottom: get-spacing("xx-large");

  h1,
  address {
    text-align: center;
  }
}

.overline--min {
  margin-bottom: get-spacing("base");
  text-align: center;
}

.article-grid__nav-list {
  display: grid;
  grid-gap: get-spacing("medium");
}
