// Px --> Rem
@function rem($pixels, $context: $font-size-global) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return $pixels / $context * 1rem;
}

@mixin x-y-centered($display: flex, $justify: center) {
  align-items: center;
  display: $display;
  justify-content: $justify;
}
