<!doctype html>
<html lang="en">
<head>
  {{> base/meta this}}
  {{> base/head }}
</head>
<body>
  <header>
    <a href="#main" class="skip-nav">Skip to main content</a>
  </header>
  <main id="main">
    {{> @partial-block }}
  </main>

  {{> base/footer }}
  {{> base/js }}
</body>
</html>
