<!doctype html>
<html lang="en" {{#if landing}}data-page-landing="landing"{{/if}}>

<head>
  {{> base/meta this}}
  {{> base/head this}}
</head>
<body class="{{#if landing}}auto-height{{/if}}">
  <main>
    <article class="article-grid">
    {{> @partial-block }}
    </article>
  </main>

  {{#if landing}}
  {{> base/footer }}
  {{/if}}

  {{> base/js this}}
</body>
</html>
