<!doctype html>
<html class="" lang="en">

<head>
  {{> base/meta this}}
  {{> base/head }}
</head>
<body>
  <main>
    <article>
    {{> @partial-block }}
    </article>
  </main>
  {{> base/js }}
</body>
</html>
