.g-header {
  @include position(
    absolute,
    get-spacing("base") null null get-spacing("base")
  );
  z-index: get-z-index("component");

  @include breakpoint("small") {
    position: fixed;
  }

  svg {
    fill: $color-white;
  }
}
