.multiplier {
  align-self: end;
  box-shadow: $box-shadow-light;
  display: grid;
  justify-content: space-around;
  margin: get-spacing("medium") auto;
  padding: get-spacing("base");
}

.multiplier__legend {
  grid-column: span 3;
  text-align: center;
}

.multiplier__title {
  font-family: $font-family-sans;
  font-size: get-font-size(100);
}

.multiplier__input-group {
  align-items: center;
  display: grid;
  grid-auto-flow: column;
  grid-gap: get-spacing("small");
  padding: get-spacing("small");

  &:focus-within {
    box-shadow: 0 0 0 3px $color-primary;
  }

  input:focus {
    box-shadow: none;
  }
}
