.nav__link {
  border: 2px solid $color-bg;
  display: grid;
  grid-column-gap: get-spacing("base");
  grid-template-columns: min-content auto;
  grid-template-rows: min-content;
  padding: get-spacing("base");

  &:hover {
    box-shadow: $box-shadow-light;

    p {
      color: $color-text;
    }

    svg {
      fill: $color-primary;
    }
  }
}

.nav__icon {
  align-self: start;
  grid-row: span 3;
  width: get-spacing("large");

  svg {
    @include size(100%);
    transition: 0.25s ease fill;
  }
}
