.progress-meter {
  box-shadow: $box-shadow-base;
}

.progress-meter__group {
  align-self: center;
}

.progress-meter__item {
  font-family: $font-family-sans;

  span {
    font-size: get-font-size(140);
    font-weight: $font-weight-bold;
  }

  small {
    display: block;
    font-style: italic;
  }
}
