.progress-meter {
  box-shadow: $box-shadow-base;
}

.progress-meter__item {
  font-family: $font-family-sans;

  small {
    background-color: $color-tan;
    display: block;
    font-size: get-font-size(80);
    margin: get-spacing("small") 0;
    padding: get-spacing("base");
  }

  svg {
    @include size(2rem);
    fill: $color-gray;
    margin: get-spacing("small") auto;
  }
}
