<footer class="footer">
  <section class="footer__body">
    <details class="footer__details">
      <summary>Methodology</summary>
      <p>Lorem ipsum dolor su amet.</p>
      <p>Lorem ipsum dolor su amet.</p>
      <p>Lorem ipsum dolor su amet.</p>
    </details>
  </section>
</footer>
