<div class="progress-meter article-grid__progress">
  <div class="progress-meter__item" data-js="progress--choice" hidden="true">
    @@include("smog.svg")
    <p>Your last choice emitted <span class="callout-num">0 kg</span> of carbon dioxide.
    <small></small>
  </p>
  </div> 
  <div class="progress-meter__item" data-js="progress--total">
    @@include("pollution.svg")
    <p>Your total carbon emissions are <span class="callout-num">0 kg</span>.</p>
  </div>
</div>
