<div class="progress-meter article-grid__progress">  
  <p class="progress-meter__item" data-js="progress--choice" hidden="true">This choice emitted <span>0 kg</span> of carbon dioxide.
  <small></small>
  </p>
  <p class="progress-meter__item" data-js="progress--total">Your total carbon emissions are <span>0 kg</span>.</p>
  <p class="progress-meter__item" data-js="progress--result" hidden="true">You would need to plant <span>0 trees</span> to offset your total carbon emissions.</p>
</div>
