<div class="progress-meter article-grid__progress">
  <div>
    <p class="progress-meter__add callout-num">+$85</p>
    <p>That's the equivalent of driving across the US 3 times.</p>
  </div>
  <div>
    <p class="overline--min">Total Carbon Spent</p>
    <p class="progress-meter__total callout-num">$0</p>
  </div>
</div>
