<header class="article-grid__hed article-hed">
  {{#unless landing}}
  <button class="btn--tertiary article-hed__back" data-js="back" hidden="true">Back</button>
  <div class="article-hed__icon">@@include("{{meta.slug}}.svg")</div>
  {{/unless}}
  {{#if landing}}
  <a href="/" class="btn--primary overline">Climate Change</a>
  {{/if}}
</header>
