<header class="article-grid__hed">
  {{#unless landing}}
  {{!-- Don't show back button on first screen of story --}}
  <button class="btn--secondary" data-js="back">Back</button>
  {{!--  --}}
  {{/unless}}
  <a href="/" class="btn--primary overline">Climate Change</a>
</header>
