<section class="article-grid__content">
    {{#if landing}}
    {{> components/story-copy--header}}
    {{> components/story-copy--body}}
    {{> components/story-nav}}

    {{else}}
    {{#each copy}}
    {{> components/story-copy--header}}
    {{> components/story-copy--body}}
    {{> components/story-choices}}

    {{/each}}
    {{/if}}
  </section>
