<section class="article-grid__content">
    {{#if landing}}
    {{> components/story-header}}
    {{> components/landing-body}}
    {{> components/story-nav}}

    {{else}}
	{{> components/story-header}}
    {{#each steps}}
    {{> components/story-choices}}
    {{#if @last}}
    {{> components/story-closer}}
    {{/if}}
    {{/each}}
    {{/if}}
  </section>
