<footer class="choice">
  <h4 class="choice__hed">{{choice-hed}}</h4>
  <p class="choice__dek">{{choice-body}}</p>

  <ul class="choice__list">
    {{#each choices}}
    <li class="choice__list-item">
      <button
        data-choice-impact="{{impact}}"
        class="choice__btn btn--secondary"
        type="button">
        {{choice}}
      </button>
    </li>
    {{/each}}
  </ul>
</footer>
