<section data-js="closer" hidden="true">
  <p>A bit of closing information goes right here just like this. Maybe some overall ideas about the impact of this particular scenario.</p>
  <footer>
    <nav>
      <p>Nav to other stories or start over at current story</p>
    </nav>
    <p>Newsletter signup</p>
    <p>Methodology link</p>
  </footer>
</section>
