<section class="article-grid__content">
    {{#if landing}}
    {{> components/story-header}}
    {{> components/landing-body}}
    {{> components/story-nav}}

    {{else}}
	{{> components/story-header}}
    {{#if multiplier}}
    {{> components/choice-multiplier}}
    {{/if}}
    {{#each steps}}
    {{> components/story-choices}}
    {{/each}}
    {{> components/story-closer}}
    {{/if}}
  </section>
