<section class="closer article-grid__section" data-js="closer" hidden="true">
  <section class="closer__content">
    <h1>Your results</h1>
    <p data-js="progress--result">You would need to plant <span class="callout-num"></span> to offset your total carbon emissions.</p>

    <p>Your biggest carbon impact was choosing <span class="callout-num" data-js="biggest-impact"></span></p>
  </section>

  <ul class="closer__options">
    <li>
      <a href="/{{meta.slug}}" class="btn--secondary">Restart this scenario</a>
    </li>
    <li>
      <a href="/" class="btn--tertiary">Return to main page</a>
    </li>
  </ul>
  {{> components/story-nav current=meta.slug}}
  {{> components/newsletter}}
</section>
